<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/pages/dashboard.css" />
    <link rel="icon" href="/images/vector-logo.ico" />
    <title>Kopilko Dashboard</title>
  </head>
  <body>
    <div class="burger-mini-button">
      <img class="burger-dashes" src="../images/burger-dashes.svg" alt="menu" />
    </div>

    <menu class="burger-menu" id="side_menu">
      <div class="logo-header logo-side-header">
        <section class="menu-header-section">
          <a href="/dashboard">
            <div class="logo-section logo-side-section">
              <img
                class="kopilko-logo-img"
                src="../images/vector-logo.svg"
                alt="logo"
              />
              <p class="kopilko-logo-text">KOPILKO</p>
            </div>
          </a>
          <div class="burger-dashes-header">
            <img
              class="dashes-icon"
              src="../images/burger-dashes.svg"
              alt="menu"
            />
          </div>
        </section>
        <nav>
          <div class="navigation-string"><p>Главная</p></div>
          <div class="navigation-string"><p>Профиль</p></div>
        </nav>
      </div>
      <button class="logout">Выйти</button>
    </menu>

    <section>
      <a href="/dashboard">
        <div class="logo-section">
          <img
            class="kopilko-logo-img"
            src="../images/vector-logo.svg"
            alt="logo"
          />
          <p class="kopilko-logo-text">KOPILKO</p>
        </div>
      </a>
    </section>

    <module class="exit hidden">
      <div class="window-exit">
        <p class="exit-question">Вы уверены, что хотите выйти?</p>
        <div class="exit-choose">
          <button class="exit-btn-choose btn-yes" id="exit_ok">Выйти</button>
          <button class="exit-btn-choose btn-no" id="exit_cancel">
            Отмена
          </button>
        </div>
      </div>
    </module>
    <script src="../scripts/logoutScript.js"></script>
    <script>
      const menu = document.getElementById('side_menu');
      const menuCallerMain = document.querySelector('.dashes-icon');
      const menuCallerSide = document.querySelector('.burger-mini-button');
      const exitButton = document.querySelector('.logout');
      const exitWindow = document.querySelector('.exit');
      const exitCancel = document.getElementById('exit_cancel');
      const exitOk = document.getElementById('exit_ok');

      menuCallerMain.addEventListener('click', () => {
        menu.classList.toggle('slide-off');
      });

      menuCallerSide.addEventListener('click', () => {
        menu.classList.toggle('slide-off');
      });

      exitButton.addEventListener('click', () => {
        exitWindow.classList.remove('hidden');
      });

      exitCancel.addEventListener('click', () => {
        exitWindow.classList.add('hidden');
      });

      exitOk.addEventListener('click', deleteAuth);
    </script>
  </body>
</html>
