@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;800;900&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2d3f55, #0f151c);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

span {
  margin: 0;
  padding: 0;
}

.logo-link {
  position: absolute;
  margin-top: 2.25rem;
  margin-left: 2.5rem;
}

.logo-section {
  position: absolute;
  display: flex;
  height: 3.65rem;
  user-select: none;
}

.kopilko-logo-img {
  width: 4.23rem;
}

.kopilko-logo-text {
  align-self: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
}

.burger-mini-button {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 2.2rem;
  height: 2.5rem;
  width: 2rem;
  background-color: #0f151c;
  border-bottom-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.burger-dashes {
  position: relative;
  align-self: center;
  width: 1rem;
  height: 0.725rem;
}

.burger-mini-button:hover {
  cursor: pointer;
  background-color: grey;
}

.burger-mini-button:active {
  transform: scale(0.95);
}

.burger-menu {
  left: -15rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: absolute;
  height: 100vh;
  width: 14.1rem;
  background-color: #2d3f55;
  border-top-right-radius: 0.75rem;
  transition: transform 0.5s ease-in-out;
}

.menu-header-section {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-side-header {
  height: 7.2rem;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0f151c;
  border-top-right-radius: 0.75rem;
}

.logo-side-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.burger-dashes-header {
  display: flex;
  margin-left: 0.75rem;
  justify-self: center;
  vertical-align: middle;
  width: 1rem;
}

.dashes-icon {
  width: 1rem;
  height: 0.725rem;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  transition: all 0.5s ease-out;
}

.dashes-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dashes-icon:active {
  transform: scale(0.9);
}

nav {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navigation-string {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  height: 2.95rem;
  width: 100%;
  transition: background-color 0.5s ease-out;
}

.navigation-string:hover {
  background-color: #597ca7;
  cursor: pointer;
}

button.logout {
  position: absolute;
  bottom: 4.1rem;
  margin-top: 26.2rem;
  align-self: center;
  width: 7.35rem;
  height: 2.7rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: white;
  background-color: #0f151c;
  border: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
}

button.logout:hover {
  background-color: #212d3e;
  cursor: pointer;
}
button.logout:active {
  transform: scale(0.9);
}

.slide-off {
  transform: translateX(15rem);
}

module {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0f151c;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease-in-out;
}

.window-exit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  background-color: #2d3f55;
  border-radius: 1rem;
}

.exit-question {
  color: white;
  width: 11.25rem;
  font-size: 1.2rem;
  text-align: center;
  justify-self: center;
  margin-bottom: 1.45rem;
}

.exit-btn-choose {
  border: none;
  background-color: #e84a58;
  width: 7.5rem;
  height: 1.5rem;
  color: white;
  border-radius: 1.5rem;
  margin: 0 0.75rem;
  font-size: 0.75rem;
  box-shadow: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.exit-btn-choose:hover {
  cursor: pointer;
  background-color: red;
}

.exit-btn-choose:active {
  transform: scale(0.98);
}

.btn-no {
  background-color: #65bf92;
  transition: background-color 0.3s ease-out;
}

.btn-no:hover {
  background-color: #2b6749;
  cursor: pointer;
}

.financial-data-block {
  position: absolute;
  display: flex;
  right: 0;
  width: 61.7rem;
  height: 7.5rem;
  justify-content: space-between;
}

.data-main-block {
  display: flex;
  flex-direction: column;
  width: 14.3rem;
  height: 100%;
  background-color: #17202b;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.complex-label-block,
.goal-label,
.free-finances-label {
  align-self: center;
  padding-top: 1.16rem;
}

.complex-label-block {
  display: flex;
  justify-content: center;
}

.budget-label {
  width: 5.25rem;
}

.expences-label {
  width: 6.7rem;
}

.goal-label {
  width: 10rem;
}

.free-finances-label {
  width: 10rem;
}

.edit-pencil {
  margin-top: 0.5rem;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: transform 0.3s ease-out;
}

.edit-pencil:hover {
  transform: rotate(15deg);
  -webkit-user-drag: none;
}

.label-number {
  padding-top: 1rem;
  width: max-content;
  align-self: center;
  text-align: center;
  font-size: 1.66rem;
  font-weight: 800;
}

.need-tooltip {
  position: relative;
  cursor: help;
  border-bottom: 0.15rem dotted rgba(255, 255, 255, 0.749);
}

.need-tooltip::before,
.need-tooltip::after {
  --scale: 0;
  --tooltip-color: black;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(150%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.need-tooltip::before {
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.need-tooltip:hover::before,
.need-tooltip:hover::after {
  --scale: 1;
}

.need-tooltip::after {
  content: '';
  border: 0.41rem solid transparent;
  border-bottom-color: var(--tooltip-color);
}

.window-budget {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 12.5rem;
  background-color: #2d3f55;
  border-radius: 0.83rem;
}

.budget-module-text {
  padding-top: 2.3rem;
  margin-bottom: 1.16rem;
  font-size: 1.66rem;
  font-weight: 800;
  align-self: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-block {
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
}

#budget_input {
  font-size: 1rem;
  align-self: center;
  width: 6.25rem;
  height: 1.25rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  margin-bottom: 1.7rem;
}

#budget_input:focus {
  outline: none;
}

#currency-label-budget {
  position: absolute;
  right: 8rem;
}

#budget_warning {
  color: #e84a58;
  font-size: 0.58rem;
  position: absolute;
  margin-top: 7.3rem;
  left: 0;
  right: 0;
  text-align: center;
}

.budget-choose {
  display: flex;
  align-self: center;
  justify-content: center;
}

.budget-btn-choose {
  width: 8.3rem;
  height: 1.66rem;
  background-color: #65bf92;
  border: none;
  border-radius: 1.25rem;
  font-size: 0.5rem;
  color: white;
  margin-right: 0.33rem;
  cursor: pointer;
  transition: background-color ease-out 0.5s;
}

.budget-btn-choose:hover {
  background-color: #29795d;
}

.budget-btn-choose:disabled {
  background-color: #dedede;
  cursor: default;
}

.budget-no {
  background-color: #a0a0a0;
}

.window-outcomes {
  display: flex;
  flex-direction: column;
  width: 29.16rem;
  height: max-content;
  max-height: 29.16rem;
  border-radius: 0.83rem;
  background-color: #2d3f55;
}

.outcomes-module-text {
  padding-top: 0.45rem;
  font-size: 1.66rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}

.outcome-main-labels {
  display: flex;
  margin-bottom: 0.5rem;
}

.name-label {
  padding-left: 5.58rem;
}

.value-label {
  padding-left: 6.16rem;
}

.outcomes-scroller-block {
  display: flex;
  flex-direction: column;
  justify-items: center;
  overflow-y: overlay;
  margin-right: 1rem;
}

.outcomes-scroller-block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
  border-radius: 0.41rem;
  background-color: #2d3f55;
}

.outcomes-scroller-block::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #2d3f55;
}

.outcomes-scroller-block::-webkit-scrollbar-thumb {
  border-radius: 0.41rem;
  -webkit-box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
  background-color: #435e7e;
}

.outcomes-inputs-block {
  width: 25.25rem;
  min-height: 3.33rem;
  display: flex;
  justify-content: center;
  background-color: #435e7e;
  align-self: center;
  position: relative;
  margin-bottom: 0.35rem;
  transform: translateX(0.45rem);
}

.delete-button {
  position: absolute;
  width: 0.875rem;
  align-self: center;
  left: 0.66rem;
  cursor: pointer;
  transition: transform ease-out 0.5s;
  -webkit-user-drag: none;
}

.delete-button:hover {
  transform: rotate(90deg);
}

#currency-label-outcome {
  position: absolute;
  right: 0.7rem;
  align-self: center;
}

.outcome-input {
  width: 10.08rem;
  height: 1.25rem;
  align-self: center;
  margin: 0 0.4rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  font-size: 1rem;
}

.outcome-input:focus {
  outline: none;
}

#add_outcome {
  width: 1.25rem;
  align-self: center;
  margin: 0.35rem 0;
  transition: transform ease-out 0.5s;
  cursor: pointer;
  -webkit-user-drag: none;
}

#add_outcome:hover {
  transform: scale(1.1);
}

.outcome-choose {
  display: flex;
  justify-content: center;
  margin-top: 0.35rem;
  margin-bottom: 0.8rem;
}

.outcome-btn-choose {
  margin: 0 0.33rem;
  height: 1.66rem;
  width: 8.33rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #65bf92;
  color: white;
  font-size: 0.5rem;
  transition: background-color ease-out 0.5s;
  cursor: pointer;
}

.outcome-btn-choose:hover {
  background-color: #2b6749;
  cursor: pointer;
}

.outcome-no {
  background-color: #a0a0a0;
}

.outcome-yes:disabled {
  background-color: #dedede;
  cursor: default;
}

.outcome-warning {
  align-self: center;
  width: 14rem;
  margin: 0.35rem;
  padding: 0;
  color: #e84a58;
  font-size: 0.58rem;
  text-align: center;
}

.expences-tooltip {
  position: relative;
  cursor: help;
  border-bottom: 0.15rem dotted rgba(255, 255, 255, 0.749);
}

.expences-tooltip::before,
.expences-tooltip::after {
  --scale: 0;
  --tooltip-color: black;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(110%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.expences-tooltip::before {
  content: attr(data-tooltip);
  white-space: pre;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 200;
  text-align: justify;
  padding: 0.5rem;
  border-radius: 0.6rem;
  width: max-content;
  max-width: 200%;
  background: var(--tooltip-color);
}

.expences-tooltip:hover::before,
.expences-tooltip:hover::after {
  --scale: 1;
}

.expences-tooltip::after {
  content: '';
  border: 0.41rem solid transparent;
  border-bottom-color: var(--tooltip-color);
}

.goals-block {
  padding-left: 15.5rem;
  padding-top: 11.16rem;
  width: 45.5rem;
}

.new-goal-btn {
  width: 100%;
  height: 2rem;
  color: white;
  background-color: #597ca7;
  border: none;
  border-radius: 0.83rem;
  font-size: 0.83rem;
  transition: background-color 0.3s ease-out;
}

.new-goal-btn:hover {
  cursor: pointer;
  background-color: #3fba8f;
}

.new-goal-btn:active {
  background-color: #0073ff;
}

.goals-grid {
  padding-top: 1rem;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.goal-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 21.75rem;
  height: 11.6rem;
  background: linear-gradient(
    116.1deg,
    #435e7e 0%,
    #2c4a6c 52.08%,
    #1a395e 100%
  );
  border-radius: 1rem;
  transition: box-shadow 0.25s ease-out;
}

.goal-card:hover {
  box-shadow: 0 0 0.7rem rgb(103, 80, 255);
}

.goal-card-hurry {
  background: linear-gradient(116.1deg, #e84a58 0%, #8e232d 100%);
}

.goal-card-hurry:hover {
  box-shadow: 0 0 0.7rem rgb(255, 80, 80);
}

.goal-card-completed {
  background: #65bf92;
}

.goal-card-completed > .goal-filler {
  position: absolute;
  height: 11.3rem;
  align-self: center;
}

.goal-card-completed:hover {
  box-shadow: 0 0 0.7rem #20c874;
}

.goal-card-expired {
  background: #a0aebe;
}

.goal-card-expired:hover {
  box-shadow: 0 0 0.7rem #7299c5;
}

.edit-pencil-back {
  position: absolute;
  display: flex;
  right: 2.3rem;
  top: 0.65rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  background-color: #0f151c;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.goal-card-completed > .edit-pencil-back {
  background-color: #1d4531;
}

.goal-card-expired > .edit-pencil-back {
  background-color: #787878;
}

.edit-pencil-back:hover {
  background-color: transparent;
}

.delete-goal-button {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 0.8rem;
  top: 0.65rem;
  -webkit-user-drag: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: rotate 0.3s ease-out, scale 0.2s ease-out;
}

.delete-goal-button:hover {
  rotate: 180deg;
}

.goal-edit-pencil {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-user-drag: none;
}

.goal-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 5rem;
  width: 6rem;
  -webkit-user-drag: none;
}

.goal-name {
  position: absolute;
  text-align: right;
  right: 1rem;
  top: 2.5rem;
  max-width: 14rem;
  height: 1.2rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.goal-card-hurry > .goal-name {
  color: black;
}

.goal-link {
  position: absolute;
  right: 1rem;
  top: 3.7rem;
  max-width: 13rem;
  font-size: 0.58rem;
  color: rgb(191, 191, 191);
  white-space: nowrap;
  overflow: hidden;
}

.goal-card-hurry > .goal-link {
  color: rgb(212, 149, 149);
}

.goal-card-completed > .goal-link {
  color: white;
}

.goal-monthly {
  position: relative;
  text-align: right;
  font-weight: 800;
  font-size: 1.66rem;
  width: 90%;
  margin-top: 6rem;
  margin-left: 10%;
  transform: translateX(-1rem);
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.5rem;
  cursor: default;
}

.goal-card-hurry > .goal-monthly {
  color: black;
}

.goal-date-block {
  bottom: 0.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 3.875rem;
  height: 0.83rem;
  background: #65bf92;
  border-radius: 0.2rem;
  font-size: 0.58rem;
  font-weight: 500;
  cursor: default;
}

.goal-card-hurry > .goal-date-block,
.goal-card-expired > .goal-date-block {
  background: #e32636;
}

.goal-card-completed > .goal-date-block {
  background: #1d4531;
}

.progress-bar {
  position: relative;
  width: 91%;
  align-self: center;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #2d3f55 0%, #0f151c 100%);
  border-radius: 1rem;
}

.goal-card-completed > .progress-bar {
  background: #2b6749;
}

.goal-card-expired > .progress-bar {
  background: #d3d3d3;
}

.progress-line {
  position: absolute;
  height: 100%;
  background-color: #65bf92;
  border-radius: 1rem;
}

.goal-card-completed > .progress-bar > .progress-line {
  background-color: transparent;
}

.goal-card-hurry > .progress-bar > .progress-line {
  background-color: #e32636;
}

.goal-card-expired > .progress-bar > .progress-line {
  background-color: #c8c8c8;
}

.add-money-to-goal {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #398a61;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.goal-card-hurry > .progress-bar > .add-money-to-goal {
  background-color: #4e0a10;
}

.goal-card-completed > .progress-bar > .add-money-to-goal {
  background-color: #ffffff;
}

.goal-card-expired > .progress-bar > .add-money-to-goal {
  background-color: #a0a0a0;
}

.add-money-to-goal:hover {
  background-color: #0f151c;
}

.goal-card-expired > .progress-bar > .add-money-to-goal:hover {
  background-color: #707070;
}

.plus-btn {
  align-self: center;
  width: 0.58rem;
  height: 0.58rem;
  -webkit-user-drag: none;
}

.goal-card-completed > .progress-bar > .add-money-to-goal > .plus-btn {
  width: 1.1rem;
  height: 1.1rem;
}

.add-money-to-goal::before,
.add-money-to-goal::after {
  --scale: 0;
  --tooltip-color: white;
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  transform: translateX(-37%) translateY(100%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.add-money-to-goal::before {
  content: 'внести сумму';
  text-align: center;
  font-size: 0.5rem;

  padding: 0 0.5rem;
  padding-top: 0.25rem;
  border-radius: 0.6rem;
  width: max-content;
  max-width: 3.95rem;
  height: 0.8rem;
  background: black;
  color: white;
}

.add-money-to-goal:hover::before,
.add-money-to-goal:hover::after {
  --scale: 1;
}

.progress-label {
  position: relative;
  max-width: 80%;
  font-size: 0.58rem;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.module-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3f55;
  border-radius: 1rem;
}

.edit-goal-window {
  min-height: 19rem;
  width: 16.66rem;
}

.choise-window {
  height: 8rem;
  width: 16rem;
  box-shadow: 0 0 0.7rem rgb(255, 80, 80);
}

.choise-question {
  padding-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 12rem;
  font-weight: 700;
  font-size: 1rem;
}

.choise-buttons {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.short-window-btn-choose {
  margin: 0 0.33rem;
  height: 1.25rem;
  width: 8.33rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #65bf92;
  color: white;
  font-size: 0.5rem;
  transition: background-color ease-out 0.5s;
  cursor: pointer;
}

.choise-yes {
  background-color: rgb(247, 59, 59);
}

.short-window-btn-choose:hover {
  background-color: #2b6749;
}

#create_goal_window,
#edit_goal_window {
  min-height: 19rem;
  width: 16.66rem;
}

.window-add-to-goal {
  height: fit-content;
  width: 16.66rem;
}

.module-name {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.66rem;
  color: white;
}

.add-sum-module-name {
  margin-bottom: 1rem;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.default-input {
  font-family: inherit;
  width: 11.6rem;
  height: 1.25rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  padding: 0 0.42rem;
  margin-bottom: 0.41rem;
  font-size: 0.5rem;
}

.module-add-to-goal-input {
  text-align: center;
  margin-bottom: 0.5rem;
}

.module-add-to-goal-warning {
  padding-top: 1rem;
  width: 12.6rem;
  font-size: 0.5rem;
  color: rgb(255, 73, 73);
}

.default-input::placeholder {
  color: #a0a0a0;
}

input[type='date'],
.edit-goal-date {
  color: black;
}

input[type='date']::before,
.edit-goal-date::before {
  color: #a0a0a0;
  width: 100%;
  content: attr(placeholder);
}

input[type='date']:focus::before,
input[type='date']:valid::before,
.edit-goal-date:focus::before,
.edit-goal-date:valid::before {
  display: none;
}

.main-two-module-buttons {
  width: 12.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.save-btn,
.cancel-btn {
  width: 5.625rem;
  height: 1.29rem;
  border: none;
  background-color: #65bf92;
  color: white;
  font-size: 0.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.save-btn:hover,
.cancel-btn:hover {
  background-color: #29795d;
}

.save-btn:disabled {
  background-color: #dedede;
  cursor: default;
}

.cancel-btn {
  background-color: #a0a0a0;
}

.field-error {
  background-color: #f6b7bc;
}

.field-error::placeholder {
  color: #505050;
}

.goal-wrong-data,
.goal-confirm-data {
  font-size: 0.5rem;
  width: 12.5rem;
}

.goal-red-line-error {
  color: #e84a58;
  margin-bottom: 0.2rem;
}

.error-date {
  color: #f1939b;
}

.wrong-type-data {
  padding: 0.3rem 0;
  font-size: 0.5rem;
  width: 12.5rem;
  color: #e84a58;
}

.hidden {
  transform: scale(0);
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 912px) {
  html {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    margin: 0;
    padding: 0;
  }
}
