<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/pages/dashboard.css" />
    <link rel="stylesheet" href="/pages/profile.css" />
    <link rel="icon" href="/images/vector-logo.ico" />
    <title>Профиль</title>
  </head>
  <body>
    <div class="burger-mini-button">
      <img class="burger-dashes" src="../images/burger-dashes.svg" alt="menu" />
    </div>

    <section class="profile-window">
      <div class="profile-block">
        <div class="profile-header">
          <image class="profile-img" src="../images/Vector-login.svg"></image>
          <p class="login-header">
            Логин:<span class="user-login"><%- login %></span>
          </p>
        </div>
        <div class="label-section">
          <div class="label-subsection">
            <p class="name-label">Имя:</p>
            <div class="name-field">
              <p class="name"><%- name %></p>
              <img class="pencil" id="name_pencil" src="../images/pencil.svg" />
            </div>
          </div>
        </div>
        <div class="label-section">
          <div class="label-subsection">
            <p class="password-label">Пароль:</p>
            <div class="password-field">
              <p class="password">*****</p>
              <img
                class="pencil"
                id="password_pencil"
                src="../images/pencil.svg"
              />
            </div>
          </div>
        </div>
        <button class="btn-delete-user">Удалить пользователя</button>
      </div>
    </section>

    <section class="logo-link">
      <a href="/dashboard">
        <div class="logo-section">
          <img
            class="kopilko-logo-img"
            src="../images/vector-logo.svg"
            alt="logo"
          />
          <p class="kopilko-logo-text">KOPILKO</p>
        </div>
      </a>
    </section>

    <menu class="burger-menu" id="side_menu">
      <div class="logo-header logo-side-header">
        <section class="menu-header-section">
          <div class="logo-section logo-side-section">
            <img
              class="kopilko-logo-img"
              src="../images/vector-logo.svg"
              alt="logo"
            />
            <p class="kopilko-logo-text">KOPILKO</p>
          </div>

          <div class="burger-dashes-header">
            <img
              class="dashes-icon"
              src="../images/burger-dashes.svg"
              alt="menu"
            />
          </div>
        </section>
        <nav>
          <div
            class="navigation-string"
            onclick="window.location.replace('/dashboard')"
          >
            <p>Главная</p>
          </div>
          <div
            class="navigation-string"
            onclick="window.location.replace('/profile')"
          >
            <p>Профиль</p>
          </div>
          <a href="/">
            <div class="navigation-string">
              <p>О проекте</p>
            </div>
          </a>
        </nav>
      </div>
      <button class="logout">Выйти</button>
    </menu>

    <module class="exit hidden">
      <div class="window-exit">
        <p class="exit-question">Вы уверены, что хотите выйти?</p>
        <div class="exit-choose">
          <button class="exit-btn-choose btn-yes" id="exit_ok">Выйти</button>
          <button class="exit-btn-choose btn-no" id="exit_cancel">
            Отмена
          </button>
        </div>
      </div>
    </module>

    <module class="change-name-module hidden">
      <div class="window-change-name">
        <form
          class="window-change-name"
          action="/users/change-name/"
          method="post"
        >
          <p class="change-name-title">Имя пользователя</p>
          <input
            required
            autofocus
            class="input-name"
            type="text"
            name="name"
            placeholder="Введите новое имя"
          />
          <p class="name-requirements">
            - Имя может быть длиной до 50-ти символов и содержит только слова,
            разделённые пробелами
          </p>
          <div class="name-choose">
            <button
              class="name-btn-choose btn-save"
              type="submit"
              disabled="true"
            >
              Сохранить
            </button>
            <button
              class="name-btn-choose btn-cancel"
              id="name_cancel"
              type="button"
            >
              Отмена
            </button>
          </div>
        </form>
      </div>
    </module>

    <module class="change-password-module hidden">
      <div class="window-change-password">
        <form
          class="window-change-password"
          action="/users/change-password/"
          method="post"
        >
          <p class="change-password-title">Смена пароля</p>
          <div class="password-input-container">
            <input
              required
              class="input-password password-input-1"
              type="password"
              name="oldPassword"
              autocomplete="on"
              placeholder="Введите старый пароль"
              autofocus
            />
            <img
              class="show-password show-password-1"
              src="../images/Hidden-password.svg"
              alt="show-password-button"
              onclick="showPassword(1)"
            />
            <img
              class="show-password show-password-1 hidden"
              src="../images/Hidden-password-white.svg"
              alt="show-password-button"
              onclick="showPassword(1)"
            />
          </div>
          <div class="password-input-container">
            <input
              required
              class="input-password password-input-2"
              type="password"
              name="newPassword1"
              autocomplete="on"
              placeholder="Введите новый пароль"
            />
            <img
              class="show-password show-password-2"
              src="../images/Hidden-password.svg"
              alt="show-password-button"
              onclick="showPassword(2)"
            />
            <img
              class="show-password show-password-2 hidden"
              src="../images/Hidden-password-white.svg"
              alt="show-password-button"
              onclick="showPassword(2)"
            />
          </div>
          <div class="repeat-password-input-container">
            <input
              required
              class="input-password password-input-3"
              type="password"
              name="newPassword2"
              autocomplete="on"
              placeholder="Повторите новый пароль"
            />
            <img
              class="show-password show-password-3"
              src="../images/Hidden-password.svg"
              alt="show-password-button"
              onclick="showPassword(3)"
            />
            <img
              class="show-password show-password-3 hidden"
              src="../images/Hidden-password-white.svg"
              alt="show-password-button"
              onclick="showPassword(3)"
            />
          </div>
          <div class="requirements-password-container">
            <p class="requiremets-text" id="password_reqs_correct_old">
              - Старый пароль должен быть введён верно
            </p>
            <p class="requiremets-text" id="password_reqs_number">
              - Пароль должен содержать от 5-ти до 64-х символов
            </p>
            <p class="requiremets-text" id="password_reqs_in">
              - Пароль должен содержать цифры и латиницу
            </p>
            <p class="requiremets-text" id="password_reqs_equal">
              - Введённые пароли должны совпадать
            </p>
          </div>
          <div class="password-choose">
            <button
              class="password-btn-choose btn-save-password"
              type="submit"
              disabled="true"
            >
              Сменить пароль
            </button>
            <button
              class="password-btn-choose btn-cancel-password"
              id="password_cancel"
              type="button"
            >
              Отмена
            </button>
          </div>
        </form>
      </div>
    </module>
    <%- psswrdSavedModule %>
    <module class="delete-user-module hidden">
      <div class="delete-user-pack-form">
        <form
          class="window-delete-user"
          action="/users/delete-user/"
          method="post"
        >
          <p class="delete-user-title">
            Вы уверены, что хотите удалить пользователя?
          </p>
          <div class="delete-choose">
            <button class="delete-btn-choose btn-delete" type="submit">
              Удалить
            </button>
            <button
              class="delete-btn-choose btn-cancel-delete"
              id="delete_cancel"
              type="button"
            >
              Отмена
            </button>
          </div>
        </form>
      </div>
    </module>
    <script src="../scripts/logoutScript.js"></script>
    <script src="../scripts/burgerBar.js"></script>
    <script src="../scripts/profileChanging.js"></script>
  </body>
</html>
