@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.prime-container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3f55;
}

.secondary-container {
  width: 35%;
  display: block;
  transition: width 1s ease-in-out;
  background: linear-gradient(135deg, #2d3f55, #65bf92);
  text-align: center;
}

.registration-secondary-container {
  background: linear-gradient(-135deg, #2d3f55, #65bf92);
}

.secondary-container:hover {
  width: 60%;
}

#secondary_2 {
  display: none;
}

.header-logo {
  position: absolute;
  padding-top: 0.5%;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9%;
}

.kopilko-logo-img {
  width: 4em;
}

.kopilko-logo-text {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
}

.hello-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-header {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.auth-subheader {
  padding-top: 1em;
  margin: 0;
  width: 50%;
  text-align: center;
  font-weight: medium;
  color: #ffffff;
}

.login-container {
  position: relative;
  padding-top: 2em;
  display: flex;
}

.name-container {
  position: relative;
  padding-top: 0.8rem;
  display: flex;
}

.login-icon {
  width: 1rem;
  position: absolute;
  align-self: center;
  left: -1.35rem;
  transition: transform 0.5s ease-out;
}

.login-icon:hover {
  transform: rotate(360deg);
}

.login-input {
  font-size: 0.6rem;
  width: 15rem;
  height: 1.5rem;
  border: none;
  background-color: #e5f4ed;
  border-radius: 0.25rem;
  text-indent: 0.35rem;
  color: #2d3f55;
}

.login-input:focus {
  outline: none;
}

.login-input::placeholder {
  color: #7fcaa4;
  font-size: 0.6rem;
}

.wrong-credentials {
  background-color: #f6b7bc;
}

.wrong-credentials::placeholder {
  color: white;
}

.password-container {
  position: relative;
  padding-top: 0.8rem;
  display: flex;
}

.password-icon {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  width: 0.8rem;
  position: absolute;
  align-self: center;
  left: -1.35rem;
  transition: transform 0.5s ease-out;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.password-icon:hover {
  transform: rotate(360deg);
}

.hide-password,
.hide-password-white {
  width: 1rem;
  position: absolute;
  align-self: center;
  right: 0.45rem;
  fill: black;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  cursor: pointer;
}

.hide-password:hover,
.hide-password-white:hover {
  transform: rotate(-180deg) scale(0.8);
}

.hide-password:active,
.hide-password-white:active {
  transform: rotate(-180deg) scale(0.8);
  opacity: 0.5;
}

.login-button-div {
  padding-top: 2rem;
}

.registration-button-div {
  padding-top: 0;
}

.login-button {
  width: 10rem;
  height: 2rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  background-color: #65bf92;
  font-size: 0.6rem;
  transition: background-color 0.3s ease-out 0s;
}

.login-button:hover {
  background-color: #2b6749;
  cursor: pointer;
}

.login-button:disabled {
  color: white;
  background-color: #dedede;
  cursor: auto;
}

.secondary-section-text-head {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.secondary-section-text-subhead {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  width: 13.4rem;
  color: white;
}

.secondary-auth-button {
  margin-top: 3.5rem;
  width: 15rem;
  height: 4rem;
  background: none;
  color: white;
  font-size: 1.3rem;
  font-weight: regular;
  border: solid;
  border-radius: 1.5rem;
  border-width: 0.1rem;
  border-color: white;
  box-shadow: none;
  transition: color 0.5s ease, border-color 0.5s ease;
}

.secondary-auth-button:hover {
  cursor: pointer;
  color: #c8c8c8;
  border-color: #c8c8c8;
}
.alert-message {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  width: 15rem;
  font-size: 0.7rem;
  font-weight: medium;
  color: red;
  text-align: left;
}

.requirements-message {
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
  width: 15rem;
  font-size: 0.5rem;
  font-weight: medium;
  color: white;
  text-align: left;
}

.incorrect-alert {
  color: red;
}

#login_exists {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: left;
  color: red;
  font-size: 0.5rem;
  transform: translateY(-1rem);
}

.alert-sign {
  padding-top: 0.5rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 900;
  color: red;
}

.hide-item {
  display: none;
}

@media screen and (max-width: 912px) {
  html {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
  }

  .secondary-container {
    width: 50%;
  }

  .secondary-container:hover {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-family: 'Raleway', sans-serif;
    font-size: 1.9vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: auto;
    overflow: hidden;
  }

  .prime-container {
    padding-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3f55;
  }

  .secondary-container {
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    transition: none;
    background: linear-gradient(180deg, #2d3f55, #65bf92);
    border: transparent;
  }

  .secondary-container:hover {
    width: 100%;
  }

  .hello-container {
    align-self: center;
    justify-content: start;
  }

  .secondary-section-text-head {
    padding-top: 2rem;
    font-size: 1.2rem;
  }

  .secondary-section-text-subhead {
    padding-top: 1rem;
  }

  .secondary-auth-button {
    scale: 0.7;
    margin-top: 0.5rem;
  }

  .header-logo {
    position: absolute;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
  }

  .auth-container {
    justify-self: center;
  }

  #secondary_1 {
    display: none;
  }

  #secondary_2 {
    display: flex;
  }
}
